.work-container {
  padding-bottom: 4rem;
}

.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1140px;
  margin: auto;
  grid-gap: 40px;
}

.project-card {
  padding: 1.2rem 1rem;
  background: #1a1919;
}

.project-card img {
  width: 100%;
  height: 30vh;
}

.project-title {
  color: #fff;
  padding: 1rem 0;
}

.project-details {
  display: "flex";
  justify-content: space-between;
  flex-direction: column;
}

.project-button {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.project-button .btn {
  border-radius: 10px;
  text-align: center;
}
@media screen and (max-width: 740px) {
  .project-container {
    width: 90%;
    grid-template-columns: 1fr;
    margin: auto;
  }
}
